.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.section-subscribe .envelop {
  margin: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: table;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #0dba4b;
    border-color: 0dba4b;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.55;
    border-radius: .25rem;
    transition: transform 8000ms;
}
