<section class="py-24 bg-slate-200">
  <div class="container mx-auto lg:max-w-4xl xl:max-w-5xl 2xl:max-w-6xl">
    <div class="bg-gray-800 rounded-lg p-0 md:p-8">
      <div class="subscriber-wrap">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mobile-select-desk posi position-relative">
            <img src="../../assets/icons/Envelope-cuate.webp" alt="envelope-cuate" width="372px" height="170px">
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="envelop">
              <h2 class="mobile-select-desk text-white text-1.5xl mb-2">
                "Stay in Touch for Awesome"
                <span class="text-green-500">Updates & offers!</span>
              </h2>
              <div class="mobile-select">
                <h2 class="text-white text-lg mb-2">Stay in Touch for Awesome</h2>
                <h2 class="fontres">
                  <span>Updates & Offers!</span>
                </h2>
              </div>
              <form action="">
                <div class="flex mt-4">
                  <input type="text" id="subscribeEmail" class="w-66 pr-4 block w-full h-10 px-3 leading-5 text-gray-900 bg-white border border-gray-300 rounded-md transition focus:border-blue-500" placeholder="Enter your mail id">
                  <button type="button" id="subscribe" class="btn btn-primary">Subscribe Now</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


