<header class="absolute w-full z-40">
  <div class="px-5 fixed top-0 w-full bg-white shadow-xl animate-slideInDown animate-faster">
    <div class="py-5 flex items-center justify-between container border-emerald-500 border-opacity-30 rounded-xl">
      <a href="">
        <img src="../assets/logo.png" alt="logo">
      </a>
      <div class="lg:hidden">
        <svg (click)="this.openSideBar()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </div>
      <app-menu class="hidden lg:block"></app-menu>
      <app-auth-links class="hidden lg:block"></app-auth-links>
    </div>
  </div>
</header>


<button *ngIf="isMenuScrolled" (click)="scrollToTop()"
  class="flex text-white transition-all duration-300 fixed bottom-5 right-5 w-10 h-10 bg-emerald-600 hover:bg-slate-800 rounded-full">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor"
      class="w-6 h-6 m-auto">
      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
  </svg>
</button>
